/* .defalt1{
    font-size:50px;
}
.defalt2{
    font-size:50px;
}

.light{
    font-size: 50px;
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
}
.dark{
    font-size: 50px;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
} */
/* .darkMode{
    border:1px solid white ;
    background-color: black;
    color:white;
    padding:30px;
    margin: 10px;
} */